@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


body {
    font-family: "Metrophobic", sans-serif;
    background-color: #e1f2fe;
    color: #1a1b41;
    font-size: 2rem;
}

.correct {
 background-color: green;
}

.incorrect {
    background-color: red;
}


#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.3rem solid #1a1b41;
    border-radius: 60%;
}
#progressBarFull {
    height: 3.5rem;
    background-color: #1a1b41;
    width: 0%;
    
}