@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


body {
    font-family: "Metrophobic", sans-serif;
    background-color: #d2d4c8;
    color: #001a4d;
    font-size: 2rem;
}

.option{
        border: 3px solid #001a4d;
        border-radius: 10%;
}

.correct {
 background-color: green;
}

.incorrect {
    background-color: red;
}

#progressBar {
    width: 20rem;
    height: 1.5rem;
    border: 0.3rem solid #1a1b41;
    
}
#progressBarFull {
    height: 1.2rem;
    background-color: #1a1b41;
        width: 10%;
   
}

#play-instructions {
    background-color: #fff;
}

.btn {
    background-color: #1a1b41;
    color: #fff;
}