@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


body {
    font-family: "Metrophobic", sans-serif;
    background-color: #d2d4c8;
    color: #001a4d; 
    font-size: 1.5rem;
    }

h1 {
    
    font-weight: 700;
    margin: 2rem 0;
}
h2 {
    margin: 2rem;
}

ol {
    margin-bottom: 1rem;

}

.btn {
    margin: 1rem 0;
}


#welcome-subheading {
    background-color: #fff;
    border: 4px solid #001a4d;
}

#play-instructions {
    background-color: #d2d4c8;
    border: 2px solid #1a1b41;
}

.option{
        border: 3px solid #001a4d;
        border-radius: 10%;
        margin: 15px;
        padding-top: 15px;
}

.correct {
 background-color: green;
}

.incorrect {
    background-color: red;
}

#progressBar {
    width: 12rem;
    height: 1.2rem;
    border: 0.3rem solid #1a1b41;
    margin-bottom: 2rem;
    
}
#progressBarFull {
    height: 0.6rem;
    background-color: #1a1b41;
        width: 10%;
   
}

#questionArea {
    margin-top: 1.5rem;
}

#timeRemainingArea {
    margin-top:1.5rem;
}

.btn {
    background-color: #001a4d;
    color: #d2d4c8;
    font-style: 1.5rem;
    font-weight: 900;
    margin: 2rem 0;
}

.btn:hover {
    color: #001a4d;
    background-color: #d2d4c8;
    border-color: #001a4d;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 1rem;
    }

    #logo {
      width: 10%;
    }
  }